/* PostList.css */
.post-list-container {
    max-width: 1300px;
    margin: 0 auto;
    top: 100px;
    display: block;
    position: relative;
}

@media (max-width: 764px) {
    .post-list-container  {
        top: 210px;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Ajuste aquí */
}

.card {
    width: calc(28% - 20px); /* Ajuste aquí */
    margin-bottom: 20px;
}

@media (max-width: 764px) {
    .card {
        width: 100%;
    }
}

/* Otros estilos según sea necesario */
